<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">KẾT QUẢ TRẬN ĐẤU</div>
            <div class="mt-4" style="justify-content:right;align-items:right;text-align:right">
                <button class=" btn btn-primary btn-sm check-all-submit-btn" onclick="openForm()">Thêm bàn
                    thắng</button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <form method="POST" action="/match-results/{{match._id}}?_method=PUT">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="clubIdOne">ID đội 1</label>
                                    <input type="text" class="form-control" id="clubIdOne" name="clubIdOne"
                                        value="{{match.firstClub}}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="clubIdTwo">ID đội 2</label>
                                    <input type="text" class="form-control" id="clubIdTwo" name="clubIdTwo"
                                        value="{{match.secondClub}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="firstScore">Tỉ số đội 1</label>
                                    <input type="number" class="form-control" id="firstScore" name="firstScore"
                                        value="{{match.firstScore}}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="secondScore">Tỉ số đội 2</label>
                                    <input type="number" class="form-control" id="secondScore" name="secondScore"
                                        value="{{match.secondScore}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="display:none" class="col-sm-6">
                                    <label for="teamWin"></label>
                                    <input type="text" class="form-control " id="teamWin" name="teamWin" value="tie"
                                        >
                                        <label for="slugFirst"></label>
                                    <input type="text" class="form-control " id="slugFirst" name="slugFirst" value="{{match.slugFirst}}"
                                        >
                                        <label for="slugSecond"></label>
                                    <input type="text" class="form-control " id="slugSecond" name="slugSecond" value="{{match.slugSecond}}"
                                        >
                                </div>
                                <div class="col-sm-6">
                                    <label for="date">Thời gian</label>
                                    <input type="text" class="form-control" id="date" name="date" value="{{match.date}}"
                                        >
                                </div>
                                <div class="col-sm-6">
                                    <label for="stadium">Sân vận động</label>
                                    <input type="text" class="form-control" id="stadium" name="stadium"
                                        value="{{match.stadium}}"   >
                                </div>

                            </div>

                            <div class="mt-4 mb-4 text-center">
                                <button type="submit" class="btn btn-primary">Lưu lại</button>
                            </div>
                        </form>
                        <table class="table mt-4">
                            <p class="mt-4 fw-bold">Danh sách cầu thủ ghi bàn</p>
                            <thead style="text-align:center">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên cầu thủ</th>
                                    <th scope="col">Đội bóng</th>
                                    <th scope="col">Loại bàn thắng</th>
                                    <th scope="col">Thời điểm ghi bàn</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                <tr>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>data</td>
                                    <td>
                                        <a href="" class="btn btn-sm btn-danger" data-id="" data-bs-toggle=""
                                            data-bs-target="">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-popup" id="add-goal">
    <form action="" class="form-container">
        <h3>Thêm bàn thắng</h3>

        <label for="name"><b>Tên cầu thủ</b></label>
        <input type="text" name="name" required>

        <label for="date"><b>Tên đội bóng</b></label>
        <input type="text" name="date" required>

        <label for="type"><b>Loại bàn thắng</b></label>
        <input type="text" name="type" required>

        <label for="note"><b>Thời gian ghi bàn</b></label>
        <input type="text" name="note" required>

        <button type="submit" class="btn">Tạo cặp trận</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("add-goal").style.display = "block";
    }
    function closeForm() {
        document.getElementById("add-goal").style.display = "none";
    }
</script>