<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">KẾT QUẢ TRẬN ĐẤU</div>
             {{#if err}}
            <div class="mt-4 text-center" style="display:block">
                <b style="color:red">Cầu thủ đã nhập hoặc thời gian ghi bàn không hợp lệ</b>
            </div>
            {{/if}}
            <div class="mt-4" style="justify-content:right;align-items:right;text-align:right">
                <button class=" btn btn-primary btn-sm check-all-submit-btn" onclick="openForm()" >Thêm bàn
                    thắng</button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <form method="POST" action="/match-results/{{match._id}}?_method=PUT">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="clubIdOne">ID đội 1</label>
                                    <input type="text" class="form-control" id="clubIdOne" name="clubIdOne"
                                        value="{{match.slugFirst}}" disabled="disabled">
                                </div>
                                <div class="col-sm-6">
                                    <label for="clubIdTwo">ID đội 2</label>
                                    <input type="text" class="form-control" id="clubIdTwo" name="clubIdTwo"
                                        value="{{match.slugSecond}}"disabled="disabled" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="firstScore">Tỉ số đội 1</label>
                                    <input type="number" class="form-control" id="firstScore" name="firstScore"
                                        value="{{match.firstScore}}"disabled="disabled">
                                </div>
                                <div class="col-sm-6">
                                    <label for="secondScore">Tỉ số đội 2</label>
                                    <input type="number" class="form-control" id="secondScore" name="secondScore"
                                        value="{{match.secondScore}}"disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div style="display:none" class="col-sm-6">
                                    <label for="teamWin"></label>
                                    <input type="text" class="form-control " id="teamWin" name="teamWin" value="tie"
                                        disabled="disabled">
                                        <label for="teamLose"></label>
                                    <input type="text" class="form-control " id="teamLose" name="teamLose" value="tie"
                                        disabled="disabled">
                                        <label for="slugFirst"></label>
                                    <input type="text" class="form-control " id="slugFirst" name="slugFirst" value="{{match.slugFirst}}"
                                        disabled="disabled">
                                        <label for="slugSecond"></label>
                                    <input type="text" class="form-control " id="slugSecond" name="slugSecond" value="{{match.slugSecond}}"
                                        >
                                </div>
                                <div class="col-sm-6">
                                    <label for="date">Thời gian</label>
                                    <input type="text" class="form-control" id="date" name="date" value="{{match.date}}"
                                       disabled="disabled" >
                                </div>
                                <div class="col-sm-6">
                                    <label for="stadium">Sân vận động</label>
                                    <input type="text" class="form-control" id="stadium" name="stadium"
                                        value="{{match.stadium}}" disabled="disabled"  >
                                </div>

                            </div>

                            {{!-- <div class="mt-4 mb-4 text-center">
                                <button type="submit" class="btn btn-primary">Lưu lại</button>
                            </div> --}}
                        </form>
                        <table class="table mt-4">
                            <p class="mt-4 fw-bold">Danh sách cầu thủ ghi bàn</p>
                            <thead style="text-align:center">
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">ID cầu thủ</th>
                                    
                                    
                                    <th scope="col">Thời điểm ghi bàn</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                {{#each score}}
                                <tr>
                                    
                                    <td>{{sum @index 1}}</td>
                                    <td>{{this.slugPlayer}}</td>
                                    <td>{{this.scoreMinute}}</td>
                                    
                                    <td>
                                        <a href="" class="btn btn-sm btn-danger" data-id="{{this._id}}"
                                        data-target="#delete-playerscore-modal" data-bs-toggle="modal"
                                        data-bs-target="#delete-playerscore-modal">Xóa</a>
                                    </td>
                                    
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-popup" id="add-goal">
    <form method="POST" action="/match-results/{{match._id}}/add-player" class="form-container">
        <h3>Thêm bàn thắng</h3>

        <label for="slugPlayer"><b>ID cầu thủ</b></label>
        <input type="text" name="slugPlayer" required>

        <label for="scoreMinute"><b>Phút ghi bàn</b></label>
        <input type="text" name="scoreMinute" required>

<div style="display:none">
        <label for="slugMatch"><b></b></label>
        <input type="text" name="slugMatch" value="{{match._id}}" required>

</div>
        <button type="submit" class="btn">Tạo bàn thắng</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("add-goal").style.display = "block";
    }
    function closeForm() {
        document.getElementById("add-goal").style.display = "none";
    }
</script>

<div id="delete-playerscore-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bàn thắng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bàn thắng của cầu thủ sẽ bị xóa! Bạn có chắc chắn?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-playerscore" type="button" class="btn btn-danger" >Chắc chắn</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<form name="delete-playerscore-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var playerscoreId;
        var deleteForm = document.forms["delete-playerscore-form"];
            
        var btnDeleteplayerscore = document.getElementById("btn-delete-playerscore");

        $("#delete-playerscore-modal").on("show.bs.modal",function(event){
            var button=$(event.relatedTarget);
            playerscoreId=button.data("id");
          
        })

        // When confirmed button clicked
        btnDeleteplayerscore.onclick = function () {
            deleteForm.action = "/score/" + playerscoreId + "/force?_method=DELETE";
            deleteForm.submit();
        }
    });
</script>