<div class="container-fluid">
    <div class="row">
        {{>navbar}}
        <div class="col-lg min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">THÔNG TIN CÁC ĐỘI BÓNG</div>
            <div style="justify-content:right;align-items:right;text-align:right" class="mt-4">
                <a href="/registration-form">
                    <button class=" btn btn-primary btn-sm check-all-submit-btn">Thêm đội</button>
                </a>
            </div>
            <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên đội</th>
                        <th scope="col">Sân vận động</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    {{#each clubs}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.clubName}}</td>
                        <td>{{this.stadium}}</td>
                        <td>
                            <a href="/club/{{this.slug}}" data-id="" class="btn btn-sm btn-primary">Xem chi tiết</a>
                            <a href="" class="btn btn-sm btn-danger" data-id="{{this._id}}" data-target="#delete-club-modal" data-bs-toggle="modal"
                                data-bs-target="#delete-club-modal">Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>


    </div>
</div>

<div id="delete-club-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa đội</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Đội của bạn sẽ bị xóa vĩnh viễn! Bạn có chắc chắn?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-club" type="button" class="btn btn-danger" >Chắc chắn</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<form name="delete-club-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clubId;
        var deleteForm = document.forms["delete-club-form"];
            
        var btnDeleteClub = document.getElementById("btn-delete-club");

        $("#delete-club-modal").on("show.bs.modal",function(event){
            var button=$(event.relatedTarget);
            clubId=button.data("id");
            console.log(clubId);
        })

        // When confirmed button clicked
        btnDeleteClub.onclick = function () {
            deleteForm.action = "/home/" + clubId + "/force?_method=DELETE";
            deleteForm.submit();
        }

    });
</script>