<div class="container-fluid">
    <div class="row">
        

        {{>navbar}}
       <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
        <div class="section_title">CÁC TRẬN ĐẤU HIỆN CÓ</div>
        <div class="mt-4"><b>Thông tin các trận đấu</b></div>
          <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">Vòng đấu</th>
                        <th scope="col">Đội 1</th>
                        <th scope="col">Đội 2</th>
                        <th scope="col">Ngày thi đấu</th>
                        <th scope="col">Sân thi đấu</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody style="text-align:center">
                    {{#each schedule}}
                    <tr>
                        <td>{{this.round}}</td>
                        <td>{{this.slugFirst}}</td>
                        <td>{{this.slugSecond}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.stadium}}</td>
                        <td>
                            <a href="/match-results/{{this._id}}/show" class="btn btn-sm btn-primary" data-id="{{this._id}}">Xem kết quả trận đấu</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
