<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">ĐẶT LỊCH THI ĐẤU</div>
          
            <div style="justify-content:right;align-items:right;text-align:right" class="mt-4">
                <a href="/set-up-schedule/create">
                    <button class=" btn btn-primary btn-sm check-all-submit-btn">Thêm đội</button>
                </a>
            </div>
            <div class="mt-4"><b>Thông tin các trận đấu</b></div>
            <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">Vòng đấu</th>
                        <th scope="col">Đội 1</th>
                        <th scope="col">Đội 2</th>
                        <th scope="col">Ngày thi đấu</th>
                        <th scope="col">Sân thi đấu</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody style="text-align:center">
                    {{#each schedule}}
                    <tr>
                        <td>{{this.round}}</td>
                        <td>{{this.slugFirst}}</td>
                        <td>{{this.slugSecond}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.stadium}}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-danger" data-id="{{this._id}}"
                                data-target="#delete-schedule-modal" data-bs-toggle="modal"
                                data-bs-target="#delete-schedule-modal">Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>




<div id="delete-schedule-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vòng đấu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vong đầu giữa hai đội sẽ bị xóa! Bạn có chắc chắn?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-schedule" type="button" class="btn btn-danger">Chắc chắn</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

<form name="delete-schedule-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var scheduleId;
        var deleteForm = document.forms["delete-schedule-form"];

        var btnDeleteschedule = document.getElementById("btn-delete-schedule");

        $("#delete-schedule-modal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            scheduleId = button.data("id");
        })

        // When confirmed button clicked
        btnDeleteschedule.onclick = function () {
            deleteForm.action = "/set-up-schedule/" + scheduleId + "/force?_method=DELETE";
            deleteForm.submit();
        }
    });
</script>