<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">BẢNG XẾP HẠNG CÂU LẠC BỘ</div>
            <div class="mt-4" style="justify-content:right;align-items:right;text-align:right">
                <a href="/tournament-report">
                    <button class=" btn btn-primary check-all-submit-btn">Câu lạc bộ</button>
                </a>
                <a href="/tournament-report/sub">
                    <button class=" btn btn-primary check-all-submit-btn">Cầu thủ</button>
                </a>
            </div>


            <div class="mt-4 mb-4 text-center">
                <b>Kết quả hiện tại</b>
            </div>
            <div class="d-flex row ms-4">
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Tên đội bóng</li>
                        {{#each clubs}}
                        <li class="mt-4 mb-4">{{this.clubName}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Số trận thắng</li>
                        {{#each wins}}
                        <li class="mt-4 mb-4">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Số trận thua</li>
                        {{#each loses}}
                        <li class="mt-4 mb-4">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Số trận hòa</li>
                       {{#each ties}}
                        <li class="mt-4 mb-4">{{this}}</li>
                        {{/each}}
                        <li class="mt-4 mb-4"></li>
                     
                    </ul>
                </div>
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Tổng số trận</li>
                         {{#each matches}}
                        <li class="mt-4 mb-4">{{this}}</li>
                        {{/each}}
                        <li class="mt-4 mb-4"></li>
                   
                    </ul>
                </div>
                <div class="col-2 mt-4 mb-4 text-center">
                    <ul style="list-style-type: none">
                        <li class="fw-bold">Tổng điểm</li>
                         {{#each points}}
                        <li class="mt-4 mb-4">{{this}}</li>
                        {{/each}}
                        <li class="mt-4 mb-4"></li>
                   
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

</script>