<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">BẢNG XẾP HẠNG CÂU LẠC BỘ</div>
            <div class="mt-4" style="justify-content:right;align-items:right;text-align:right">
                <a href="/tournament-report">
                    <button class=" btn btn-primary check-all-submit-btn">Câu lạc bộ</button>
                </a>
                <a href="/tournament-report/sub">
                    <button class=" btn btn-primary check-all-submit-btn">Cầu thủ</button>
                </a>
            </div>
            <div class="mt-4 mb-4 text-center">
                <b>Kết quả hiện tại</b>
            </div>
            <table class="table mt-4">

                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên đội bóng</th>
                        <th scope="col">Số trận thắng
                            {{{sortable "wins" _sort}}}
                        </th>

                        <th scope="col">Số trận thua
                            {{{sortable "loses" _sort}}}
                        </th>

                        <th scope="col">Số trận hòa
                            {{{sortable "ties" _sort}}}
                        </th>

                        <th scope="col">Tổng điểm
                            {{{sortable "points" _sort}}}
                        </th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    {{#each clubHehe}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.wins}}</td>
                        <td>{{this.loses}}</td>
                        <td>{{this.ties}}</td>
                        <td>{{this.points}}</td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>

</script>