<div class="container-fluid">
    <div class="row">
        {{>navbar}}
        <div class=" col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">XEM VÀ CHỈNH SỬA ĐỘI BÓNG</div>
            <div class="container mt-4 align-items-center">
                <div class="row ">
                    <div class="col-md-10 mx-auto">
                        
                            <div class="mb-3">
                                <p>Tên đội: {{club.clubName}}</p>
                            </div>
                            <div class="mb-3">
                                <p>ID đội: {{club.slug}}</p>
                            </div>
                            <div class="mb-3">
                                <p>Sân vận động: {{club.stadium}}</p>
                            </div>
                            <div class="mb-3">
                                <p>Số lượng cầu thủ: {{numberPlayers}}</p>
                            </div>
                            
                    </div>
                    <div class="mt-4">
                        <b>Danh sách cầu thủ</b>
                    </div>
                    <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên cầu thủ</th>
                        <th scope="col">Loại cầu thủ</th>

                        <th scope="col">Ghi chú</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    {{#each players}}
                    <tr>
                        <td>{{sum @index 1}}</td>
                        <td>{{this.name}}</td>
                        
                        <td>{{this.typePlayer}}</td>
                        <td>data</td>
                        <td>
                           
                            <a href="" data-id="" class="btn btn-sm btn-primary">Chỉnh sửa</a>
                            <a href="" class="btn btn-sm btn-danger" data-id="{{this._id}}" data-target="#delete-club-modal" data-bs-toggle="modal"
                                data-bs-target="#delete-club-modal">Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                </div>
            </div>
        </div>
    </div>